body {
    padding: 0;
    margin: 0;
    background: #6a82fb;
    background: linear-gradient(to right, #FC5C7D, #6A82FB);
}
.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(50, 255, 255, 0.2);
    border-radius: 0 0 50px 50px;
}
.header_logo {
    font-size: 1.5em;
    font-color: rgb(50, 250, 250);
}
.header_logo a {
    text-decoration: none;
}
.header_home {
    width: auto;
}
.header_add_photo {
    width: auto;
}
.header_login {
    width: auto;
    display: none;
}
.header_user {
    width: auto;
}
.header_user p {
    display: inline-block;
}
.header img {
    height: 40px;
}
.checkbox:checked ~ .search_popup {
    display: block;
}
input[type = "checkbox"] {
    display: none;
}
.search_label img {
    position: absolute;
    top: 100px;
    left: 0;
    width: 5%;
    height: 5%;
    min-width: 30px;
    padding: 10px 0;
    background: rgba(70, 190, 220, 0.2);
    border-radius: 0 20px 20px 0;
}
.search_popup {
    display: none;
    position: absolute;
    top: 150px;
    left: 0;
    width: 15%;
    height: 240px;
    background: rgba(70, 190, 220, 0.2);
    border-radius: 0 20px 20px 0;
}
.search_popup h4 {
    margin: 0;
    padding: 10px 0;
}
.search_popup h5 {
    margin: 0;
}
.search_popup p {
    margin: 0;
}
.search_popup input[type = "text"] {
    width: 90%;
}
.search_popup input[type = "date"] {
    width: 90%;
}
.search_popup input[type = "button"] {
    margin: 5px 0 0 0;
    max-width: 100px;
    width: 90%;
}
.main {
    text-align: center;
}
.main_publications {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.post {
    background: rgba(255, 255, 255, 0.2);
    width: 70%;
    margin: 5px 0;
    border: 2px ridge rgb(70, 190, 220);
    border-radius: 10px;
    text-align: left;
}
.post>img {
    width: 60%;
    border-radius: 10px 0 0 10px;
}
.post_info {
    float:right;
    width: 39%;
}
.post_info img {
    width: 40px;
}
.post_edit_button {
    display: none;
}
.post_delete_button {
    display: none;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(150, 140, 140, 0.5);
}
.footer_portal_name {
    font-size: 1.2em;
}
