body {
    padding: 0;
    margin: 0;
    background: #6a82fb;
    background: linear-gradient(to right, #FC5C7D, #6A82FB);
}
.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: rgba(50, 255, 255, 0.2);
    border-radius: 0 0 50px 50px;
}
.header_logo {
    font-size: 1.5em;
    font-color: rgb(50, 250, 250);
}
.header_logo a {
    text-decoration: none;
}
.header_home {
    width: auto;
}
.header_add_photo {
    width: auto;
}
.header_login {
    width: auto;
    display: none;
}
.header_user {
    width: auto;
}
.header_user p {
    display: inline-block;
}
.header img {
    height: 40px;
}
.main {
    text-align: center;
}
.main_publications {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.post {
    background: rgba(255, 255, 255, 0.2);
    width: 70%;
    margin: 5px 0;
    border: 2px ridge rgb(70, 190, 220);
    border-radius: 10px;
    text-align: left;
}
.post>img {
    width: 60%;
    border-radius: 10px 0 0 10px;
}
.post_info {
    float:right;
    width: 39%;
}
.post_info img {
    width: 40px;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: rgba(150, 140, 140, 0.5);
}
.footer_portal_name {
    font-size: 1.2em;
}
