body {
    padding: 0;
    margin: 0;
    background: #6a82fb;
    background: linear-gradient(to left, #FC5C7D, #6A82FB);
}
.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(50, 255, 255, 0.2);
    border-radius: 0 0 50px 50px;
}
.header_logo {

}
.header_logo a {
    text-decoration: none;
    color: black;
    font-style: oblique;
    font-variant: small-caps;
    font-size: xx-large;
    vertical-align: top;
}
.header_home {

}
.header_add_photo {

}
.header_login {

    font-size: larger;
    display: none;
}
.header_user {
    font-size: larger;

}
.header_user p {
    display: inline-block;
}
.header img {
    vertical-align: middle;
    height: 40px;
}
.checkbox:checked ~ .search_popup {
    transform: translate(100%, 0);
    transition: all 0.5s ease-out;
}
.checkbox:not(:checked) ~ .search_popup {
    transform: translate(-100%, 0);
    transition: all 0.5s ease-in;
}
input[type = "checkbox"] {
    display: none;
}
.search_label img {
    position: absolute;
    top: 95px;
    left: 0;
    width: 5%;
    min-width: 30px;
    padding: 10px 0;
    background: rgba(70, 190, 220, 0.2);
    border-radius: 0 20px 20px 0;
}
.search_popup {
    position: absolute;
    top: 150px;
    left: -15%;
    width: 15%;
    height: 240px;
    background: rgba(70, 190, 220, 0.2);
    border-radius: 0 20px 20px 0;
}
.search_popup h4 {
    font-family: sans-serif;
    margin: 0;
    padding: 10px 0;
}
.search_popup h5 {
    margin: 10px;
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
}
.search_popup p {
    margin: 0;
}
.search_popup input[type = "text"] {
    width: 90%;
    margin: 5px 0;
}
.search_popup input[type = "date"] {
    width: 90%;
}
.search_popup input[type = "button"] {
    margin: 5px 0 0 0;
    max-width: 100px;
    width: 90%;
}
.main {
    text-align: center;
}
.main_publications {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.post {
    background: rgba(255, 255, 255, 0.2);
    width: 70%;
    margin: 5px 0;
    border: 2px ridge rgb(70, 190, 220);
    border-radius: 10px;
    text-align: left;
}
.post>img {
    width: 60%;
    border-radius: 10px 0 0 10px;
    float: left;
}
.post_details {
    width: 38%;
    padding: 1%;
    display: inline-block;
}
.post_details img {
    height: 40px;
}
.post_details h3 {
    font-family: sans-serif;
    margin: 0 0 1% 0;
}
.post_details p {
    margin: 1% 0;
}
.post_information {
    max-height: 199px;
    overflow: auto;
}
.post_buttons {
    margin: 2% 0;
    display: flex;
    justify-content: space-around;

}
.post_like_button {
    padding: 0 5%;
}
.post_edit_button {
}
.post_delete_button {
}
.publication_date {
    test-align: right;
}
.show_more_posts {
    margin: 10px 0;
    padding: 0 20px;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(150, 140, 140, 0.5);
}
.footer_portal_name {
    font-size: 1.2em;
}
