.body {
    min-width: 220px;
    padding: 0;
    margin: 0;
    background: #6a82fb;
    background: linear-gradient(to left, #FC5C7D, #6A82FB);
}
.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(50, 255, 255, 0.2);
    border-radius: 0 0 50px 50px;
}
.header__logo a {
    text-decoration: none;
    color: black;
    font-style: oblique;
    font-variant: small-caps;
    font-size: xx-large;
    vertical-align: top;
}
.header__home {
}
.header__add-photo {
    display: none;
}
.header__login p {
    display: inline;
    font-size: large;
    font-family: sans-serif;
}
.header__login input {
    height: 40px;
    vertical-align: middle;
}
.header__user {
    display: none;
}
.header__username {
    display: inline-block;
    font-size: larger;
    font-family: sans-serif;
    font-style: oblique;
}
.header img {
    vertical-align: middle;
    max-height: 40px;
}
.search-checkbox {
    display: none;
}
.search-checkbox:checked ~ .search-popup {
    transform: translate(100%, 0);
    transition: all 0.5s ease-out;
}
.search-checkbox:not(:checked) ~ .search-popup {
    transform: translate(-100%, 0);
    transition: all 0.5s ease-in;
}
.search-label img {
    position: absolute;
    top: 95px;
    left: 0;
    width: 5%;
    min-width: 30px;
    padding: 10px 0;
    background: rgba(70, 190, 220, 0.8);
    border-radius: 0 20px 20px 0;
}
.search-popup {
    position: absolute;
    top: 150px;
    left: -15%;
    width: 15%;
    background: rgba(70, 190, 220, 0.8);
    border-radius: 0 20px 20px 0;
}
.search-popup__header {
    margin: 10px;
    font-size: larger;
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
}
.search-popup__date {
    margin: 10px;
    font-size: large;
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
}
.search-popup__author-input {
    width: 90%;
    margin: 5px 5%;
    box-sizing: border-box;
}
.search-popup__hashtags-input {
    width: 90%;
    margin: 5px 5%;
    box-sizing: border-box;
}
.search-popup__date-from-input {
    width: 90%;
    margin: 5px 5%;
    box-sizing: border-box;
}
.search-popup__date-till-input {
    width: 90%;
    margin: 5px 5%;
    box-sizing: border-box;
}
.search-popup__search-button {
    width: 90%;
    margin: 5px 5%;
}
.main__publications {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.post {
    background: rgba(255, 255, 255, 0.2);
    width: 940px;
    margin: 5px 0;
    border: 2px ridge rgb(70, 190, 220);
    border-radius: 10px;
    text-align: left;
}
.post>img {
    width: 60%;
    border-radius: 10px 0 0 10px;
    float: left;
}
.post__details {
    width: 38%;
    padding: 1%;
    display: inline-block;
}
.post__details img {
    width: 100%;
    max-width: 83px;
}
.post__details h3 {
    font-family: sans-serif;
    margin: 0 0 1% 0;
}
.post__details p {
    margin: 1% 0;
}
.post__information {
    max-height: 199px;
    overflow: auto;
}
.post__buttons {
    margin: 2% 0;
    display: flex;
    justify-content: space-around;
}
.show-more-posts {
    margin: 10px 40%;
    width: 20%;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(150, 140, 140, 0.5);
}
.footer__portal-name {
    font-size: larger;
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
}
@media all and (max-width: 940px) and (min-width: 640px) {
    .post {
        max-width: 99%;
    }
}
@media all and (max-width: 640px) {
    .header {
        width: 100%;
    }
    .header img {
        max-height: 30px;
    }
    .search-popup {
        width: 95px;
        left: -95px;
    }
    .post {
        width: 99%;
    }
    .post>img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        float: none;
    }
    .post__details {
        width: 100%;
    }
    .show-more-posts {
        margin: 10px 30%;
        width: 40%;
    }
}
