body {
    min-width: 220px;
    padding: 0;
    margin: 0;
    background: #6a82fb;
    background: linear-gradient(to left, #FC5C7D, #6A82FB);
}
.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(50, 255, 255, 0.2);
    border-radius: 0 0 50px 50px;
}
.header_logo a {
    text-decoration: none;
    color: black;
    font-style: oblique;
    font-variant: small-caps;
    font-size: xx-large;
    vertical-align: top;
}
.header_login {
    font-size: larger;
    display: none;
}
.header_user {
    font-size: larger;
}
.header_user p {
    display: inline-block;
}
.header img {
    vertical-align: middle;
    max-height: 40px;
}
.checkbox:checked ~ .search_popup {
    transform: translate(100%, 0);
    transition: all 0.5s ease-out;
}
.checkbox:not(:checked) ~ .search_popup {
    transform: translate(-100%, 0);
    transition: all 0.5s ease-in;
}
input[type = "checkbox"] {
    display: none;
}
.search_label img {
    position: absolute;
    top: 95px;
    left: 0;
    width: 5%;
    min-width: 30px;
    padding: 10px 0;
    background: rgba(70, 190, 220, 0.8);
    border-radius: 0 20px 20px 0;
}
.search_popup {
    position: absolute;
    top: 150px;
    left: -15%;
    width: 15%;
    background: rgba(70, 190, 220, 0.8);
    border-radius: 0 20px 20px 0;
}
.search_popup h4 {
    font-family: sans-serif;
    margin: 10px;
}
.search_popup h5 {
    margin: 10px;
    font-size: 15px;
    font-family: sans-serif;
}
.search_popup p {
    margin: 0;
}
.search_popup input[type = "text"] {
    width: 90%;
    margin: 5px 5%;
    box-sizing: border-box;
}
.search_popup input[type = "button"] {
    width: 90%;
    margin: 5px 5%;
}
.main_publications {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.post {
    background: rgba(255, 255, 255, 0.2);
    width: 940px;
    margin: 5px 0;
    border: 2px ridge rgb(70, 190, 220);
    border-radius: 10px;
    text-align: left;
}
.post>img {
    width: 60%;
    border-radius: 10px 0 0 10px;
    float: left;
}
.post_details {
    width: 38%;
    padding: 1%;
    display: inline-block;
}
.post_details img {
    width: 100%;
    max-width: 83px;
}
.post_details h3 {
    font-family: sans-serif;
    margin: 0 0 1% 0;
}
.post_details p {
    margin: 1% 0;
}
.post_information {
    max-height: 199px;
    overflow: auto;
}
.post_buttons {
    margin: 2% 0;
    display: flex;
    justify-content: space-around;
}
.show_more_posts {
    margin: 10px 40%;
    width: 20%;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(150, 140, 140, 0.5);
}
.footer_portal_name {
    font-size: 1.2em;
}
@media all and (max-width: 940px) and (min-width: 640px) {
    .post {
        max-width: 99%;
    }
}
@media all and (max-width: 640px) {
    .header {
        width: 100%;
    }
    .header img {
        max-height: 30px;
    }
    .search_popup {
        width: 95px;
        left: -95px;
    }
    .post {
        width: 99%;
    }
    .post>img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        float: none;
    }
    .post_details {
        width: 100%;
    }
    .show_more_posts {
        margin: 10px 30%;
        width: 40%;
    }
}
