body {
    padding: 0;
    margin: 0;
    background: #6a82fb;
    background: linear-gradient(to right, #FC5C7D, #6A82FB);
}
.header {
    width: 80%;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: rgba(50, 255, 255, 0.2);
}
.header_logo {
    font-size: 1.5em;
    font-color: rgb(50, 250, 250);
}
.header_logo a {
    text-decoration: none;
}
.header_home {
    width: auto;
}
.header_add_photo {
    width: auto;
}
.header_login {
    width: auto;
    display: none;
}
.header_user {
    width: auto;
}
.header_user p {
    display: inline-block;
}
.header img {
    height: 40px;
}

/*
В доработке
*/

.footer {
    width: 100%;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: rgba(150, 140, 140, 0.5);
}
.footer_portal_name {
    font-size: 1.2em;
}
